.w100{
  width: 70%;
}
.mato {
  background-color: #F8A318;
  width: 20px;
  height: 20px;
  line-height: 16px;
}
.text-right {
  text-align: right;
  padding-top: 2%;
}

.cmatp {
  background-color: #565554;
  width: 20px;
  height: 20px;
  line-height: 16px;
}
.matp {
  background-color: #eceef0;
  min-height: 570px;
}
