<mat-card class="cmatp">
  <h1>CHANGE PASSWORD</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper text-center">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Old Password</mat-label>
              <input autofocus [(ngModel)]="ChnagePassword.password" name="password" matInput
                placeholder="Enter old password" required />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>New Password</mat-label>
              <input autofocus [(ngModel)]="ChnagePassword.newPassword" name="newPassword" matInput
                placeholder="Enter new password" required />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input autofocus [(ngModel)]="Cmpassword" name="Cmpassword" matInput placeholder="Re enter new password"
                required />
            </mat-form-field>


            <div class="container text-center mt15">
              <button mat-raised-button color="primary">Change Password</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
