<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt80">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/logo1.png" alt="" />

          </div>
          <h3 class="text-center">Login Here!!</h3>

          <form (ngSubmit)="formSubmit()" method="post">
            <div class="container text-center">
              <!--Username-->
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input [(ngModel)]="userDetailsData.userName" name="username" required matInput
                  placeholder="Enter your username" />
              </mat-form-field>

              <!--Password-->
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="userDetailsData.password" name="password" required type="password" matInput
                  placeholder="Enter your password" />
              </mat-form-field>

              <div class="container text-center">
                <button type="submit" mat-raised-button color="primary">Login</button>
              </div>




            </div>
          </form>

        </mat-card>
      </div>
    </div>
  </div>
</div>
