.matc {
  background-color: #01CF54;
}

.mato {
  background-color: #F8A318;
  width: 20px;
  height: 20px;
  line-height: 16px;
}
.text-right {
  text-align: right;
  padding-top: 2%;
}
.cmatp {
  background-color: #660de7;
  width: 20px;
  height: 20px;
  line-height: 16px;
}
.matp {
  background-color: #eceef0;
  min-height: 600px;
}
.boldWord {
  font-weight: bold;
}
.pad{
  padding-top: 5%;
}
